body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background{
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  margin: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.window{
  position: fixed;
  width: 600px;
  height: 350px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 4px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  overflow-y: auto;
}

.window::-webkit-scrollbar{
  width: 7px;
}

.window::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}

.window::-webkit-scrollbar-thumb{
  background: gray;
  border-radius: 25px;
}

.selectField_1{
  background-color: white;
  font-family: Arial;
  font-size: 17px;
  font-weight: 500;
  color: black;
  border: 1px gray solid;
  box-shadow: 0.5px 1px;
  border-radius: 4px;
  cursor: pointer;
  width: 400px;
  height: 20px;
  display: flex;
  position: relative;
  margin: 0 100px 0 0;
  justify-content: space-between;
  padding: 5px 5px;
}

.selectField_1:hover{
  border: 0.8px dimgray solid;
}

.selectField_1:active{
  transform: translateY(0.3px);
}

.search{
  font-family: Arial;
  font-size: 15px;
  margin: 0 2px;
  border: 0.2px black solid;
  border-radius: 5px 0 5px 0;
  height: 20px;
  position: relative;
}

.dropdown{
  width: 410px;
  height: 200px;
  justify-content: center;
  position: relative;
  border-radius: 5px;
  outline: 2px black solid;
  margin: 2px 102.5px;
  max-height: 75px;
  overflow-y: auto;
}

.list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown::-webkit-scrollbar{
  width: 7px;
}

.dropdown::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}

.dropdown::-webkit-scrollbar-thumb{
  background: gray;
  border-radius: 25px;
}

.dropdown li{
  margin: 2px;
  background: white;
}

.dropdown li:hover{
  cursor: pointer;
  background: white;
  border: 0.5px lightgray solid;
  border-radius: 5px;
}

.dropdown li:active{
  border: 0.3px gray solid;
  border-radius: 4px;
}

.icon {
  color: black;
  transition: transform 0.2s ease-in-out;
}

.open {
  transform: rotate(180deg);
}

.label{
  font-family: Arial;
  font-size: 12px;
  font-weight: 550;
  color: gray;
  position: relative;
  margin: 3px 101px 0 101px;
  padding: 0;
}

.label_field{
  display: grid;
}

.button_submit{
  font-family: Arial;
  font-size: 15px;
  margin-top: 10px;
  justify-content: center;
  margin-left: 45%;
  background-color: black;
  color: aliceblue;
  text-shadow: black;
  border: black;
  border-radius: 0 4px 2px;
  height: 33px;
  width: 70px;
  box-shadow: 1px 1px slategray;
}

.button_submit:hover{
  background-color: dimgray;
  cursor: pointer;
  text-align: center;
  box-shadow: 1px 1px black;
}

.button_submit:active{
  background-color: dimgray;
  transform: translateY(0.5px);
}

.button_submit:disabled{
  color: darkgray;
  background-color: black;
  transform: none;
  cursor: not-allowed;
}

.error{
  color: red;
  font-size: 10px;
  position: relative;
  padding: 0;
}

.button_generate{
  font-family: Arial;
  font-size: 13px;
  margin-top: 5px;
  justify-content: center;
  margin-left: 61%;
  background-color: black;
  color: aliceblue;
  text-shadow: black;
  border: black;
  border-radius: 0 4px 2px;
  height: 33px;
  width: 100px;
  box-shadow: 1px 1px slategray;
}

.button_generate:hover{
  background-color: dimgray;
  cursor: pointer;
  text-align: center;
  box-shadow: 1px 1px black;
}

.button_generate:active{
  background-color: dimgray;
  transform: translateY(0.5px);
}

.button_generate:disabled{
  color: darkgray;
  background-color: black;
  transform: none;
  cursor: not-allowed;
}

.button_authorize{
  margin-top: 10px;
  font-size: 15px;
  justify-content: center;
  margin-left: 42%;
  background-color: black;
  color: aliceblue;
  text-shadow: black;
  border: black;
  border-radius: 0 4px 2px;
  height: 33px;
  width: 70px;
  box-shadow: 1px 1px slategray;
}
.button_authorize:hover{
  background-color: dimgray;
  cursor: pointer;
  text-align: center;
  box-shadow: 1px 1px black;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.button_authorize:active{
  background-color: dimgray;
  transform: translateY(0.5px);
}
.button_authorize:disabled{
  color: darkgray;
  background-color: black;
  transform: none;
  cursor: not-allowed;
}

.input_authorize{
  font-family: Helvetica;
  color: black;
  font-weight: 420;
  font-size: 17px;
  width: 100%;
  height: 39px;
  border: 1px black solid;
  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 4px;
  outline-width: 2px;
  background-color: white;
  border-radius: 10px 0;
}

.title_authorize{
  font-family: Helvetica;
  font-size: 24px;
  text-align: center;
  margin-bottom: 1px;
  font-weight: 550;
}

.error_authorize{
  margin-left: 1px;
  color: red;
  font-family: Roboto;
  font-weight: 300;
}

.label_authorize{
  font-family: Helvetica;
  color: dimgray;
  font-size: 10px;
  font-weight: 550;
  margin-left: 2px;
}

.background_authorize{
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  margin: 0px;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.window_authorize{
  display: grid;
  position: absolute;
  width: 500px;
  height: 350px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 4px;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  margin: auto;
}

.link {
  height: 50px;
  width: 150px;
  margin-left: 155px;
  margin-top: 10px;
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid #000000;
  border-radius: 8px;
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.link:hover {
  color: #000000;
  background-color: lightgray;
}

.radioBtn{
  display: flex;
  flex-direction: column;
}

.window_validator{
  display: flex;
  position: absolute;
  width: 600px;
  height: 350px;
  padding-left: 10px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 4px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  overflow-y: auto;
}

.button_save{
  position: absolute;
  margin-top: 60px;
  font-size: 15px;
  margin-left: 1%;
  justify-content: center;
  background-color: black;
  color: aliceblue;
  text-shadow: black;
  border: black;
  border-radius: 0 4px 2px;
  height: 33px;
  width: 100px;
  box-shadow: 1px 1px slategray;
}
.button_save:hover{
  background-color: dimgray;
  cursor: pointer;
  text-align: center;
  box-shadow: 1px 1px black;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.button_save:active{
  background-color: dimgray;
  transform: translateY(0.5px);
}
.button_save:disabled{
  color: darkgray;
  background-color: black;
  transform: none;
  cursor: not-allowed;
}

.get_infoJSON{
  position: absolute;
  border: 1px black solid;
  width: 450px;
  height: 90px;
  margin-left: 20%;
  margin-top: 1.5px;
  border-radius: 10px;
  overflow-y: auto;
}

.commentary{
  position: absolute;
  border: 1px black solid;
  width: 600px;
  height: 200px;
  top: 0;
  right: 0;
  left: 10px;
  bottom: 0;
  margin-top: 23%;
  border-radius: 8px;
  resize: none;
}

.get_infoJSON::-webkit-scrollbar{
  display: none;
  width: 7px;
}

.get_infoJSON::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}

.get_infoJSON::-webkit-scrollbar-thumb{
  background: gray;
  border-radius: 25px;
}

.get_infoJSON li{
  margin: 2px;
  background-color: white;
}

.get_infoJSON li:hover{
  cursor: pointer;
  background: white;
  border: 0.5px lightgray solid;
  border-radius: 5px;
}

.get_infoJSON li:active{
  border: 0.3px gray solid;
  border-radius: 4px;
  background-color: lightgray;
}

.eye {
  width: 20px;
  height: 20px;
  cursor: pointer;
}